
<h1>TestIndex#index</h1>
<p>Find me in app/views/test_index/index.html.erb</p>

<p>Below will be link where, after user logs in, will have option to go to check in/out page</p>
<%= link_to 'Check Item In/Out', transactions_index_path, class: "header" %>